*/*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/**/**/*.pyc

*/*.swp
*/**/*.swp
*/**/**/*.swp
*/**/**/**/*.swp

data/CReSIS

tools/*.json
tools/**/*.json
tools/**/**/*.json
tools/**/**/**/*.json

tools/*.pth
tools/**/*.pth
tools/**/**/*.pth
tools/**/**/**/*.pth

